<?xml version="1.0"?>
<Settings>
    <GraphicsSettings>assets/scripts/graphics.xml</GraphicsSettings>
    <AudioSettings>assets/scripts/audio.xml</AudioSettings>
    <SpaceshipsSettings>assets/scripts/spaceships.xml</SpaceshipsSettings>
    <Log>log.txt</Log>
    <WindowWidth>800</WindowWidth>
    <WindowHeight>600</WindowHeight>
    <FullScreen>false</FullScreen>
    <Antialiasing>4</Antialiasing>
    <EpilepsyProtection>false</EpilepsyProtection>
    <Controllers>KEYBOARD,W,S,A,D,SPACE,Q|KEYBOARD,UP,DOWN,LEFT,RIGHT,NUM_0,CONTROL_RIGHT|KEYBOARD,NONE,NONE,NONE,NONE,NONE,NONE|KEYBOARD,NONE,NONE,NONE,NONE,NONE,NONE</Controllers>
    <HighScore>0</HighScore>
    <Debug>false</Debug>
</Settings>