<Settings>
    <GraphicsSettings>scripts/graphics.xml</GraphicsSettings>
    <AudioSettings>scripts/audio.xml</AudioSettings>
    <WindowWidth>800</WindowWidth>
    <WindowHeight>600</WindowHeight>
    <FullScreen>false</FullScreen>
    <Antyaliasing>4</Antyaliasing>
    <HighScore>0</HighScore>
    <Debug>false</Debug>
</Settings>